In [1]:
import pandas as pd
import country_converter as coco

In [4]:
import_export = pd.read_csv('./import_export_raw.csv')
import_export.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,TRADEGOODSERV,EXP,MLN_USD,A,2017,263597.510,NaN
1,AUS,TRADEGOODSERV,EXP,MLN_USD,A,2018,274057.476,NaN
2,AUS,TRADEGOODSERV,EXP,MLN_USD,A,2019,269286.045,NaN
3,AUS,TRADEGOODSERV,EXP,MLN_USD,A,2020,246693.446,NaN
4,AUT,TRADEGOODSERV,EXP,MLN_USD,A,2017,219073.531,NaN

In [5]:
import_export['TIME'].value_counts()

2017    124
2018    124
2019    122
2020    116
2021     68
Name: TIME, dtype: int64

In [6]:
names = ['AUS']
coco.convert(names=names, to='name_short')

'Australia'

In [7]:
import_export['Country'] = import_export['LOCATION'].apply(lambda x: coco.convert(names=[x], to='name_short'))

OECD not found in regex
OECD not found in regex
OECD not found in regex
OECD not found in regex
OECDE not found in regex
OECDE not found in regex
OECDE not found in regex
OECDE not found in regex
EA19 not found in regex
EA19 not found in regex
EA19 not found in regex
EA19 not found in regex
EA19 not found in regex
OECD not found in regex
OECD not found in regex
OECD not found in regex
OECD not found in regex
OECDE not found in regex
OECDE not found in regex
OECDE not found in regex
OECDE not found in regex
EA19 not found in regex
EA19 not found in regex
EA19 not found in regex
EA19 not found in regex
EA19 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex

In [9]:
import_export = import_export[import_export['Country'] != 'not found']
import_export = import_export[import_export['TIME'] >= 2019]

In [10]:
import_export.columns = import_export.columns.str.title()
import_export.drop(columns=['Flag Codes'], inplace=True)
import_export

,Location,Indicator,Subject,Measure,Frequency,Time,Value,Country
2,AUS,TRADEGOODSERV,EXP,MLN_USD,A,2019,269286.045,Australia
3,AUS,TRADEGOODSERV,EXP,MLN_USD,A,2020,246693.446,Australia
6,AUT,TRADEGOODSERV,EXP,MLN_USD,A,2019,238201.311,Austria
7,AUT,TRADEGOODSERV,EXP,MLN_USD,A,2020,212572.817,Austria
8,AUT,TRADEGOODSERV,EXP,MLN_USD,A,2021,239551.400,Austria
...,...,...,...,...,...,...,...,...
545,ALB,TRADEGOODSERV,IMP,MLN_USD,A,2020,4929.178,Albania
548,GEO,TRADEGOODSERV,EXP,MLN_USD,A,2019,8962.879,Georgia
549,GEO,TRADEGOODSERV,EXP,MLN_USD,A,2020,5590.934,Georgia
552,GEO,TRADEGOODSERV,IMP,MLN_USD,A,2019,11266.139,Georgia
553,GEO,TRADEGOODSERV,IMP,MLN_USD,A,2020,9396.771,Georgia

In [11]:
import_export.to_csv('import_export.csv')