In [26]:
import pandas as pd
import country_converter as coco

In [27]:
imports = pd.read_excel('gdp_raw.xlsx', sheet_name='Imports')
exports = pd.read_excel('gdp_raw.xlsx', sheet_name='Exports')

In [28]:
imports.dropna(inplace=True)
exports.dropna(inplace=True)

In [29]:
cols_2021 = [col for col in imports.columns if '2021' in col]
cols_2021

[]

In [24]:
cols_2019 = [col for col in imports.columns if '2019' in col]
cols_2020 = [col for col in imports.columns if '2020' in col]
cols_2021 = [col for col in imports.columns if '2021' in col]
imports['2019'] = imports[cols_2019].sum(axis=1)
imports['2020'] = imports[cols_2020].sum(axis=1)
imports['2021'] = imports[cols_2021].sum(axis=1)

cols_2019 = [col for col in exports.columns if '2019' in col]
cols_2020 = [col for col in exports.columns if '2020' in col]
cols_2021 = [col for col in exports.columns if '2021' in col]
exports['2019'] = exports[cols_2019].sum(axis=1)
exports['2020'] = exports[cols_2020].sum(axis=1)
exports['2021'] = exports[cols_2021].sum(axis=1)

In [25]:
imports

,Country,2014M01,2014M02,2014M03,2014M04,2014M05,2014M06,2014M07,2014M08,2014M09,...,2019M10,2019M11,2019M12,2020M01,2020M02,2020M03,2020M04,2019,2020,2021
0,Australia,2.371676e+04,1.871349e+04,2.233819e+04,2.267053e+04,2.148994e+04,2.166371e+04,2.264688e+04,2.050109e+04,2.131512e+04,...,2.376901e+04,2.171666e+04,2.433522e+04,2.535247e+04,1.698624e+04,2.263622e+04,2.204603e+04,2.867931e+05,8.702097e+04,0.0
1,World,1.564907e+06,1.452877e+06,1.628755e+06,1.609452e+06,1.597075e+06,1.585780e+06,1.645447e+06,1.503476e+06,1.647310e+06,...,1.666756e+06,1.587757e+06,1.577309e+06,1.535444e+06,1.381061e+06,1.480057e+06,1.208439e+06,1.903458e+07,5.605001e+06,0.0
2,Advanced Economies,8.542388e+05,8.262167e+05,9.286059e+05,9.095449e+05,8.945690e+05,8.940082e+05,9.142282e+05,8.136883e+05,9.057556e+05,...,9.329776e+05,8.895141e+05,8.773374e+05,8.487385e+05,7.956727e+05,8.633240e+05,6.821102e+05,1.068238e+07,3.189845e+06,0.0
3,Euro Area,3.719059e+05,3.732175e+05,4.167291e+05,4.037185e+05,3.973084e+05,3.984857e+05,4.095266e+05,3.459999e+05,3.975866e+05,...,4.187895e+05,3.965651e+05,3.803291e+05,3.711856e+05,3.621674e+05,3.803116e+05,2.777701e+05,4.744948e+06,1.391435e+06,0.0
4,Austria,1.451377e+04,1.416084e+04,1.637166e+04,1.595707e+04,1.571598e+04,1.568167e+04,1.611107e+04,1.321095e+04,1.555022e+04,...,1.665581e+04,1.565909e+04,1.444667e+04,1.433164e+04,1.439336e+04,1.582892e+04,1.224856e+04,1.895000e+05,5.680248e+04,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Africa,5.055624e+04,4.561714e+04,4.995333e+04,4.886175e+04,4.866695e+04,4.767416e+04,5.119981e+04,4.456108e+04,4.909057e+04,...,3.990186e+04,3.891661e+04,4.068015e+04,4.012585e+04,3.507803e+04,3.764492e+04,2.616418e+04,4.753031e+05,1.390130e+05,0.0
234,Middle East,1.032434e+05,9.137668e+04,1.009524e+05,9.593489e+04,9.568878e+04,9.012656e+04,9.930444e+04,9.506627e+04,9.580716e+04,...,6.871555e+04,7.080638e+04,7.395600e+04,7.185656e+04,6.453893e+04,5.982002e+04,3.886374e+04,8.620210e+05,2.350792e+05,0.0
235,European Union,4.404951e+05,4.426851e+05,4.941205e+05,4.785769e+05,4.707038e+05,4.734951e+05,4.844329e+05,4.102977e+05,4.744433e+05,...,5.060164e+05,4.802817e+05,4.557838e+05,4.494200e+05,4.385432e+05,4.590053e+05,3.345823e+05,5.711775e+06,1.681551e+06,0.0
236,Emerging Market and Developing Economies by So...,1.914865e+05,1.714255e+05,1.861840e+05,1.821396e+05,1.810346e+05,1.703876e+05,1.829581e+05,1.746507e+05,1.736974e+05,...,1.236535e+05,1.241778e+05,1.325236e+05,1.277931e+05,1.124963e+05,1.060849e+05,7.317513e+04,1.531340e+06,4.195494e+05,0.0
237,Emerging Market and Developing Economies by So...,4.859778e+05,4.254333e+05,4.794743e+05,4.861301e+05,4.878895e+05,4.897732e+05,5.146065e+05,4.841129e+05,5.311657e+05,...,5.848518e+05,5.492147e+05,5.418105e+05,5.386192e+05,4.540218e+05,4.869273e+05,4.331944e+05,6.542504e+06,1.912763e+06,0.0

In [4]:
import_export = pd.read_csv('./import_export_raw.csv')
import_export.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,TRADEGOODSERV,EXP,MLN_USD,A,2017,263597.510,NaN
1,AUS,TRADEGOODSERV,EXP,MLN_USD,A,2018,274057.476,NaN
2,AUS,TRADEGOODSERV,EXP,MLN_USD,A,2019,269286.045,NaN
3,AUS,TRADEGOODSERV,EXP,MLN_USD,A,2020,246693.446,NaN
4,AUT,TRADEGOODSERV,EXP,MLN_USD,A,2017,219073.531,NaN

In [5]:
import_export['TIME'].value_counts()

2017    124
2018    124
2019    122
2020    116
2021     68
Name: TIME, dtype: int64

In [6]:
names = ['AUS']
coco.convert(names=names, to='name_short')

'Australia'

In [7]:
import_export['Country'] = import_export['LOCATION'].apply(lambda x: coco.convert(names=[x], to='name_short'))

OECD not found in regex
OECD not found in regex
OECD not found in regex
OECD not found in regex
OECDE not found in regex
OECDE not found in regex
OECDE not found in regex
OECDE not found in regex
EA19 not found in regex
EA19 not found in regex
EA19 not found in regex
EA19 not found in regex
EA19 not found in regex
OECD not found in regex
OECD not found in regex
OECD not found in regex
OECD not found in regex
OECDE not found in regex
OECDE not found in regex
OECDE not found in regex
OECDE not found in regex
EA19 not found in regex
EA19 not found in regex
EA19 not found in regex
EA19 not found in regex
EA19 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex
EU27_2020 not found in regex

In [9]:
import_export = import_export[import_export['Country'] != 'not found']
import_export = import_export[import_export['TIME'] >= 2019]

In [10]:
import_export.columns = import_export.columns.str.title()
import_export.drop(columns=['Flag Codes'], inplace=True)
import_export

,Location,Indicator,Subject,Measure,Frequency,Time,Value,Country
2,AUS,TRADEGOODSERV,EXP,MLN_USD,A,2019,269286.045,Australia
3,AUS,TRADEGOODSERV,EXP,MLN_USD,A,2020,246693.446,Australia
6,AUT,TRADEGOODSERV,EXP,MLN_USD,A,2019,238201.311,Austria
7,AUT,TRADEGOODSERV,EXP,MLN_USD,A,2020,212572.817,Austria
8,AUT,TRADEGOODSERV,EXP,MLN_USD,A,2021,239551.400,Austria
...,...,...,...,...,...,...,...,...
545,ALB,TRADEGOODSERV,IMP,MLN_USD,A,2020,4929.178,Albania
548,GEO,TRADEGOODSERV,EXP,MLN_USD,A,2019,8962.879,Georgia
549,GEO,TRADEGOODSERV,EXP,MLN_USD,A,2020,5590.934,Georgia
552,GEO,TRADEGOODSERV,IMP,MLN_USD,A,2019,11266.139,Georgia
553,GEO,TRADEGOODSERV,IMP,MLN_USD,A,2020,9396.771,Georgia

In [11]:
import_export.to_csv('import_export.csv')