In [9]:
import pandas as pd
import country_converter as coco

In [10]:
guide = pd.read_csv('world.tsv', sep='\t')
guide.head()

   id             name
0  -1  Northern Cyprus
1  -2           Kosovo
2  -3       Somaliland
3   4      Afghanistan
4   8          Albania

In [11]:
cc = coco.CountryConverter()
guide["name"] = guide["name"].apply(lambda x: cc.convert(x, to='name_short'))

In [12]:
guide

      id                       name
0     -1                     Cyprus
1     -2                     Kosovo
2     -3                    Somalia
3      4                Afghanistan
4      8                    Albania
..   ...                        ...
247  862                  Venezuela
248  876  Wallis and Futuna Islands
249  882                      Samoa
250  887                      Yemen
251  894                     Zambia

[252 rows x 2 columns]

In [6]:
guide.to_csv('world.tsv', sep='\t', index=False)