In [1]:
import pandas as pd

In [4]:
remittance = pd.read_csv('remittance-inflow.csv', index_col=0)

In [7]:
remittance

,Region,2009,2016,2017,2018,2019e,2020f,2021f
0,Low and Middle Income,307,446,487,531,554,445,470
1,East Asia and Pacific,80,128,134,143,147,128,138
2,Europe and Central Asia,36,46,55,61,65,47,49
3,Latin America and the Caribbean,55,73,81,89,96,77,82
4,Middle-East and North Africa,33,51,57,58,59,47,48
5,South Asia,75,111,118,132,140,109,115
6,Sub-Saharan Africa,29,39,42,48,48,37,38

In [12]:
remittance_melt = remittance.melt(id_vars=['Region'], value_vars=[col for col in remittance.columns if col != 'Region'], var_name='Year')

In [14]:
remittance_melt.to_csv('remittance-inflow.csv')